<!--
Scott Ouellette
refineryApp
project/app/refineryApp/templates/refineryApp/refineryApp.html 
-->

<!DOCTYPE html>

<head>
    <title>RefineryApp</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<style type=text/css>{{ get_resource_as_string("static/styles.css") }}</style>

<html>
<body>
  <div class = "titleWrapper">
    <br>
  <h1 class="title fadeIn">RefineryApp</h1>
  <div class = "title_Sub fadeIn">
  <a class = "nolink" href="/refineryApp">Home</a>&nbsp;&nbsp;
  <a class = "nolink" href="/refineryApp/categories/"> View All Categories</a>&nbsp;&nbsp;
  <a class = "nolink" href="/refineryApp/workflows/"> View All Workflows</a>
</div>
<br>
</div>
    <div class="list">
      <br>
      {% for category in obj %}
        <div class="dataContainer">
            <div class="inner">
              <a class ="link" href="{{path}}categories/{{category.id|string}}">
              
                <ul class="button green">
                  <li class = "firstCat">
                  <span>Category: {{category.name}}</span>
                </li>
                  {% set firstHalf, secondHalf = category.category_Description|string|splitCatDesc() %}
                  <li>
                      {{firstHalf}}
                      <br>
                      {{secondHalf}}
                  </li>
                      </ul>
              {% for workflow in category.workflow %} 
                <a class = "link break" href="{{path}}workflows/{{workflow.id|string}}">
                  <ul>
                    <li class="button lightgreen" >
                      <ul>
                        <li class = "firstWf">
                        Workflow: {{workflow.name}}
                       
                        {% if workflow.workflow_Steps|string == "1" %}
                          [{{workflow.workflow_Steps}} Step]
                        {% endif %}
                        {% if workflow.workflow_Steps|string != "1" %}
                          [{{workflow.workflow_Steps}} Steps]
                        {% endif %}
            
                        {% set firstHalf, secondHalf = workflow.workflow_Description|string|splitDesc() %}

                        <li>
                          {{firstHalf}}
                        </li>
                        <li>
                          {{secondHalf}}
                        </li>
                      </li>
                    </ul>
                  </li>
                </ul>
                  
              {% endfor %}
            <br>
            <a class="delete link button red" href="{{path}}categories/delete/{{category.id|string}}">Delete {{category.name}}
            </a>
            <br>
            </ul></a>
          </div>
        </div>
        <br>
    {% endfor %}

    <div class="createButtonsWrapper">
      <div class = "createButtons">
    <a class="link button blue" href="{{path}}categories/new/">Create new Category</a>&nbsp;&nbsp;
    <a class="link button blue" href="{{path}}workflows/new/">Create new Workflow</a>
  </div><br>
  </div>
    </div>

</body>
<br>
<footer>
  RefineryApp <a href="http://www.scott-ouellette.com">Scott Ouellette</a> &copy;<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>
</footer>
<br><br>
</html>

